<HTML>
<HEAD>
<TITLE>Manage Item [|ITEMNAME|] </TITLE>
</HEAD>

<BODY BGCOLOR="#ffffff">
<small><A HREF="[% browse %]">Browse</A> * Edit * Search * Preferences</small>
<br>
<FORM ACTION="[|THISCGI|]" method=POST>
<input type=hidden name="ACTION" value="EditItem">
<input type=hidden name="NEXTPAGE" value="Edit">
<input type=hidden name="_ITEMID" value=[|ITEMID|]>
<input type=hidden name="_CATID" value=[|CATID|]>

Name: <input name="NAME" value="[|ITEMNAME|]" size=40>
<p>
URL: <input name="URL" value="[|URL|]" size=100>
<p>
Short content: <textarea name="SHORT_CONTENT" rows=10 cols=40 maxsize=255>[|SHORT_CONTENT|]"</textarea>
<p>
Effective Date: <input name="EFFECTIVE_DATE" VALUE="[|EFFECTIVE_DATE|]" size=15>
<p>
Description: <textarea name="TYPE:metadata:description" rows=3 cols=40>
[% TYPE:metadata:description %]
</textarea>
<p>
Category <SELECT name="cid"> 
<OPTION value=[|CATID|] selected> [|CATPATH|] 
~CATLIST~ <OPTION VALUE=[|ID|]> [|ID|]:[|SUBCATPATH|]
</SELECT>
<p>
Content:<br>
<TEXTAREA name="TYPE:content:content" rows=10 cols=60>
[% TYPE:content:content %]
</TEXTAREA>

<input type=submit value="save changes">
</FORM>

</BODY>
</HTML>

