<span id="reg_text"><A HREF="/php/access_user/register.php">register</A> : <A HREF="javascript:showLogin()"><span id="login_text">login</span></A>                                                                            
<form id="login_form" method=POST action="/php/access_user/login.php">                      
<input type=HIDDEN name="next_url" value="http://btucson.com/">
<span id="login_label"></span>
<span id="login_br"></span>
<span id="passwd_label"></span>                                                             
<span id="login_button"></span>
</form>
